body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 5px;
    padding: 5px;
  }

  body {
    background-image: url(fish_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #4cb0bc;
  }
  
  header {
    background-color: #a17676;
    color: #eae733;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #f8579d;
    text-decoration: none;
  }
  
  nav a:link {
    text-decoration: none;
    color: #000000;
  }
  
  nav a:visited {
    color: #000000;
  }
  
  nav a:hover,
  nav a:focus {
    background-color: #333;
    color: #fff;
  }
  
  nav a:active {
    color: #ff0000;
  }
  
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  img:hover {
    transform: scale(1.1);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
  }
  
  footer p {
    margin: 0;
  }
  