.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
  }
  
  .video-container video {
    position: fixed;
    size: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  
  .video-container .content {
    position: relative;
    z-index: 1;
    /* Add any additional styles for your content */
  }

  .nav {
    background-color: #333;
    text-align: center;
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav ul li {
    display: inline-block;
  }
  
  .nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
  }

  .nav ul li a:hover {
    background-color: #555;
  }
  
  .nav ul li .button:hover {
    background-color: #e53935;
    color: #fff;
  }
  
  .image-box { 
    width: 300px;
    height: 100vh;
    background-color: #f2f2f200;
    margin-left: auto;
    margin-right: 0;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: last baseline;

  }
  
  .image-box img {
    max-width: 100%;
    max-height: 100%;
    position: fixed;
  }
  @media screen and (max-width:568px) {
    .image-box {
        width: 50%; 
        top: 0;
        background-color: #33333300; 
    }
  }
  
  .textbox {
    position: absolute;
    width: 50vw;
    height: 100px;
    background-color: rgba(84, 84, 84, 0);
    position: absolute;
    top: 38px;
    right: 0;
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 10px;
  }
  @media screen and (max-width:568px) {
    .textbox {
        width: 100%;
        height: auto;
        left: -100px;
    }
  }

  .parent{
    display: inline-block;
    position: absolute;
    height: 100vh;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0);
    left: 0;
    top: 40px;
    scroll-behavior: smooth scroll;
  }
  @media screen and (max-width: 568px) {
    .parent {
      height: max-content;
      width: max-content;
      top: 190px;

    }
  }

  .flex-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color:aqua;
    height: 100vh;
    scroll-behavior: smoothscroll;
  }

  .box1 {
    height: auto;
    width: 41.5vw;
    background-color: rgba(195, 0, 255, 0.541);
    padding: 5px;
  }
  .box2 {
    height: auto;
    width: 41.5vw;
    background-color: rgba(13, 2, 117, 0.511);
    padding: 5px;
  }
  .box3 {
    height: auto;
    width: 41.5vw;
    background-color: rgba(47, 241, 255, 0.347);
    padding: 5px;
  }
  .box4 {
    height: auto;
    width: 41.5vw;
    background-color: rgba(0, 155, 0, 0.425);
    padding: 5px;
  }
  .box5 {
    height: auto;
    width: 41.5vw;
    background-color: rgba(231, 50, 0, 0.425);
    padding: 5px;
  }
  /* @media screen and (max-width:568px) {
    .flex-container {
        width: auto;
        height: 100%;
    }
  } */
  .advertisement {
    display: inline-block;
    position: absolute;
    width: 250px;
    height:20vh;
    background-color: black;
    bottom: 0;
    left: 0;
  }

  .qualification {
    display: inline-block;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 100px;
    right: 14rem;
  }
  /* .qualification h2 {
    background-color:chocolate;
    width:170px;
    text-align: center;
    border: 2px solid rgb(87, 0, 168);
    border-radius: 10px; 
  }

  .qualification h2:hover {
    background-color: darkred;
    color: white;
    font-family: cursive;
  }

  /* .links {
    background-color: blue;
    display: inline-block;
    position: absolute;
    top: 0;
    
  } */

  @media screen and (max-width: 735px) {
    .qualification {
      height: max-content;
      width: max-content;
      top: 320px;
      right: auto;

    }
  }
  .download-button {
    background-color: #333;
    border: none !important;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .download-button:hover {
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .link-button {
    background-color: #333;
    border: none !important;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .link-button:hover {
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .blog {
    font-family: Arial, sans-serif;
  }
  
  .blog ul {
    list-style-type: decimal;
    padding: 15px;
  }
  
  .blog a {
    color: #bffdff;
    text-decoration: none;
  }
  
  .blog a:hover {
    text-decoration: none;
    color: rgb(217, 255, 0);
    background-color: darkslategrey;
  }
  .projects ul {
    list-style-type: decimal;
    padding: 15px;
  }
  .projects a {
    color: wheat;
    text-decoration: none;
  }
  .projects a:hover {
    background-color: #bffdff;
    color: black;
    text-decoration: none;
  }
  
